{% if user_births|length %}
<div class="card-group">
  {% for user_birth in user_births %}
    <div class="card">
      <div class="card-body">
        <p class="card-text">Год рождения: {{ user_birth.date_of_birth }}</p>
        <p class="card-text">Место рождения: {{ user_birth.place_of_birth }}</p>
        <p class="card-text">{{ user_name.created_at }}</p>
      </div>
        {% if user.id == user_name.owner.id %}
          <a href="/info1/{{user_name.id}}/delete_1" class="delete-btn btn btn-danger">Удалить</a>
        {% endif %}
      
    </div>
  {% endfor %}
</div>
{% else %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Еще не создано ни одной записи!</h4>
  </div>
</div>
{% endif %}


{% if user_infos|length %}
<div class="card-group">
  {% for user_info in user_infos %}
  <div class='card'>
            <div class="card-body">
                <p class="card-text">Специальность: {{ user_info.specialization }}</p>
                <p class="card-text">Организация образования: {{ user_info.orga_of_education }}</p>
                <p class="card-text">Год окончания : {{ user_info.year_of_graduation}}</p>
            </div>
                {% if user.id == user_name.owner.id %}
                    <a href="/info1/{{user_name.id}}/delete_2" class="delete-btn btn btn-danger">Удалить</a>
                {% endif %}
            
    </div>
    {% endfor %}
</div>
{% else %}
<div class="card">
<div class="card-body">
<h4 class="card-title">Еще не создано ни одной записи!</h4>
</div>
</div>
{% endif %}